:root {
  --text-color--text-primary: #0f131a;
  --text-color--text-alternate: #4f545e;
  --primary--brand-900: #2c3495;
  --secondary--white-100: #ffffff1a;
  --secondary--white-800: #fffc;
  --text-color--text-secondary: white;
  --background-color--background-secondary: #080331;
  --background-color--background-tertiary: #2d62ff;
  --base-color--white: white;
  --secondary--purple-900: #835a91;
  --secondary--white-200: #fff3;
  --transparent: #fff0;
  --_spacers---0: 0rem;
  --primary--gray-200: #e3e7ed;
  --primary--brand-50: #f4f5fa;
  --secondary--white-700: #ffffffb3;
  --primary--brand-920: #232a77;
  --primary--brand-940: #1a1f59;
  --primary--gray-400: #c7cedc;
  --text-color--text-color-tertiary: #757a85;
  --secondary--cyan-900: #7ad1e5;
  --secondary--white-600: #fff9;
  --_typography---size--h0: 6rem;
  --secondary--yellow-900: #fdd946;
  --base-color--black: black;
  --primary--gray-100: #f1f3f6;
  --primary--gray-50: #f8f9fb;
  --secondary--purple-200: #e6dee9;
  --primary--gray-500: #b8c2d3;
  --primary--brand-100: #eaebf4;
  --primary--brand-200: #d5d6ea;
  --secondary--white-300: #ffffff4d;
  --secondary--green-100: #f8faea;
  --secondary--purple-500: #c1acc8;
  --secondary--green-940: #707a1e;
  --secondary--green-500: #dde598;
  --primary--brand-300: #c0c2df;
  --primary--brand-700: #6b71b5;
  --secondary--green-200: #f1f5d6;
  --secondary--green-920: #96a228;
  --secondary--green-900: #bbcb32;
  --primary--gray-600: #aab6ca;
  --primary--brand-960: #12153c;
  --primary--brand-25: #f9f9fc;
  --secondary--green-700: #cfdb70;
  --secondary--purple-920: #694874;
  --primary--gray-940: #445064;
  --primary--brand-800: #565daa;
  --primary--brand-500: #9599ca;
  --primary--light-blue-600: #afe3ef;
  --primary--brand-400: #abaed5;
  --primary--brand-600: #8085bf;
  --primary--brand-980: #090a1e;
  --primary--light-blue-25: #f8fdfe;
  --primary--light-blue-50: #f8fdfe;
  --primary--light-blue-100: #f2fafc;
  --primary--light-blue-200: #e4f6fa;
  --primary--light-blue-300: #d7f1f7;
  --primary--light-blue-400: #caedf5;
  --primary--light-blue-500: #bce8f2;
  --primary--light-blue-700: #a2dfed;
  --primary--light-blue-800: #95daea;
  --primary--light-blue-900: #7ad1e5;
  --primary--light-blue-920: #62a7b7;
  --primary--light-blue-940: #497d89;
  --primary--light-blue-960: #31545c;
  --primary--light-blue-980: #182a2e;
  --primary--gray-25: #fbfbfc;
  --primary--gray-300: #d5dae5;
  --primary--gray-700: #9caac1;
  --primary--gray-800: #8e9db9;
  --primary--gray-900: #7285a7;
  --primary--gray-920: #5b6a86;
  --primary--gray-960: #2e3543;
  --primary--gray-980: #171b21;
  --secondary--purple-25: #f9f7f9;
  --secondary--purple-50: #f9f7f9;
  --secondary--purple-100: #f3eef4;
  --secondary--purple-300: #dacdde;
  --secondary--purple-400: #cdbdd3;
  --secondary--purple-600: #b59cbd;
  --secondary--purple-700: #a88bb2;
  --secondary--purple-800: #9c7ba7;
  --secondary--purple-940: #4f3657;
  --secondary--purple-960: #34243a;
  --secondary--purple-980: #1a121d;
  --secondary--green-25: #fdfdf9;
  --secondary--green-50: #fcfcf5;
  --secondary--green-300: #ebefc1;
  --secondary--green-400: #e4eaad;
  --secondary--green-600: #d6e084;
  --secondary--green-800: #c9d55b;
  --secondary--green-960: #4b5114;
  --secondary--green-980: #25290a;
  --secondary--yellow-25: #fffdf6;
  --secondary--yellow-50: #fffdf6;
  --secondary--yellow-100: #fffbec;
  --secondary--yellow-200: #fff7da;
  --secondary--yellow-300: #fef4c7;
  --secondary--yellow-400: #fef0b5;
  --secondary--yellow-500: #feeca2;
  --secondary--yellow-600: #fee890;
  --secondary--yellow-700: #fee47e;
  --secondary--yellow-800: #fde16b;
  --secondary--yellow-920: #caae38;
  --secondary--yellow-940: #98822a;
  --secondary--yellow-960: #65571c;
  --secondary--yellow-980: #332b0e;
  --secondary--white-50: #ffffff0d;
  --secondary--white-400: #fff6;
  --secondary--white-500: #ffffff80;
  --base-color-system--focus-state: #2d62ff;
  --link-color--link-primary: var(--text-color--text-primary);
  --link-color--link-secondary: var(--base-color--black);
  --link-color--link-alternate: var(--base-color--white);
  --border-color--border-secondary: var(--base-color--white);
  --border-color--border-tertiary: #d9e5ff;
  --button--hover-background-primary: var(--secondary--yellow-920);
  --button--hover-border-primary: var(--secondary--yellow-920);
  --button--hover-font-primary: var(--text-color--text-primary);
  --button--hover-border-secondary: var(--primary--brand-920);
  --button--hover-font-secondary: var(--primary--brand-920);
}
